body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', cursive;
  }
  
  nav {
    background-color: #ffffff;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .navbar-left {
    font-size:xx-large ;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  
  .navbar-right a {
    margin-right: 7px;
    color: #000000;
    text-decoration: none;
    margin-left: 1rem;
  }
  

  #selamibtn,
  #selamibtn::after {
   padding: 16px 20px;
   font-size: 22px;
   background: linear-gradient(45deg, transparent 5%, #020202 5%);
   border: 0;
   color: #fff;
   letter-spacing: 3px;
   line-height: 1;
   box-shadow: 6px 0px 0px red;
   outline: transparent;
   position: relative;
  }
  
  #selamibtn::after {
   --slice-0: inset(50% 50% 50% 50%);
   --slice-1: inset(80% -6px 0 0);
   --slice-2: inset(50% -6px 30% 0);
   --slice-3: inset(10% -6px 85% 0);
   --slice-4: inset(40% -6px 43% 0);
   --slice-5: inset(80% -6px 5% 0);
   content: "HOVER ME";
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff013c 5%);
   text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
   clip-path: var(--slice-0);
  }
  
  #selamibtn:hover::after {
   animation: 1s glitch;
   animation-timing-function: steps(2, end);
  }
  
  @keyframes glitch {
   0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
   }
  
   10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
   }
  
   20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
   }
  
   30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
   }
  
   40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
   }
  
   50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
   }
  
   60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
   }
  
   70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
   }
  
   80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
   }
  
   90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
   }
  
   100% {
    clip-path: var(--slice-1);
    transform: translate(0);
   }
  }

  /* === removing default button style ===*/
.navbutton {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
  }
  
  /* button styling */
  .navbutton {
    --border-right: 4px;
    --text-stroke-color: rgba(0, 0, 0, 0.6);
    --animation-color: darkblue;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: x-large;
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .navbutton:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }
  